<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Продукт на ветрине</title>
</head>
<body>
    <h1 align="center" span th:text="${product.name}"></h1>
    <div>
        <p>ID: <span th:text="${product.id}"></span></p>
        <p>Название: <span th:text="${product.name}"></span></p>
        <p>Описание: <span th:text="${product.description}"></span></p>
        <p>Цена: <span th:text="${product.price}"></span></p>
        <p>В наличии: <input type="checkbox" th:if="${product.stock}" checked="checked" disabled>
        <input type="checkbox" th:unless="${product.stock}" disabled></p>
    </div>
    <p><a href="/" class="button" id="simpleButton">Вернуться к витрине</a></p>
</body>
</html>